.body {
    display: flex;
    flex-direction: column;
}

.one {
    display: flex;
    flex-direction: column;
    background: #0784eaee;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 250px 0px 205px;
    color: #ffffff;
    font-size: 24px;
}

.links {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.tag {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 75px 250px 75px;
}

.hero {
    width: 500px;
}

.hero h1 {
    color: #F9FBFF;
    font-size: 48px;
    font-weight: 800;
}

.hero p {
    color: #F6F9FF;
}

button {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    color: #ffffff;
    background-color: #EF7314;
    border: none;
}

.tag img {
    border-style: double;
    border-color: #EFA614;
    padding: 4px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px 75px;
}

.itineraries {
    display: flex;
    text-align: center;
    gap: 30px;
    padding-top: 30px;
}

.two h2 {
    color: #0784eaee;
    font-size: 36px;
    font-weight: 800;
}

.two img {
    border-radius: 12px;
    border-style: solid;
    border-width: 3px;
    padding: 1px;
    border-color: #EF7314;
}

.two img:hover {
    opacity: 0.5;
}

.two p {
    color: #EFA614;
}