.body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.one {
    display: flex;
    flex-direction: column;
    background: #0784eaee;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 250px 0px 205px;
    color: #ffffff;
    font-size: 24px;
}

.links {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.tag {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 75px 250px 75px;
}

.hero {
    width: 500px;
    flex: 1;
}

.hero h1 {
    color: #F9FBFF;
    font-size: 48px;
    font-weight: 800;
}

.hero p {
    color: #F6F9FF;
}

.hero button {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    color: #ffffff;
    background-color: #EF7314;
    border: none;
}


.tag img {
    border-style: double;
    border-color: #EFA614;
    padding: 4px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px 75px;
}

.itineraries {
    display: flex;
    text-align: center;
    gap: 30px;
    padding-top: 30px;
}

.two h2 {
    color: #0784eaee;
    font-size: 36px;
    font-weight: 800;
}

.two img {
    border-radius: 12px;
    border-style: solid;
    border-width: 3px;
    padding: 1px;
    border-color: #EF7314;
}

.two img:hover {
    opacity: 0.5;
}

.two p {
    color: #EFA614;
}

.three {
    background-color: #C8E1FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 350px;
    align-items: flex-end;
}

.three #quote {
    font-size: 36px;
    font-style: italic;
    margin: 0px;
}

.three #author {
    font-size: 30px;
    font-weight: 700;
    padding-right: 75px;
    margin: 0px;
}

.four .card {
    display: flex;
    background-color: #3C8EF3;
    border-radius: 8px;
    margin: 75px 300px;
    padding: 30px 125px;
    justify-content: space-between;
    align-items: center;
}

.newsletter p {
    margin: 0px;
}

#sign {
    color: #ffffff;
    font-size: 30px;
    font-weight: 650;
    margin-bottom: 8px;
}

#convince {
    color: #ffffff;
    font-size: 21px;
}

.card button {
    background-color: #3C8EF3;
    border-style: solid;
    border-color: #ffffff;
    border-width: 3px;
    border-radius: 12px;
    padding: 8px 20px;
    color: #ffffff;
}

.footer {
    background-color: #0D5AB9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}